@import "style/variaveis.scss";

.rodape {
  display: flex;
  justify-content: center;
  background-color: $preto;

  h2 {
    font-weight: 400;
    font-size: 18px;
    color: $branco;
    a{
      text-decoration: none;
      color: $branco;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
